.navContainer {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 98%; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffff1;
  padding: 0px 30px;
  height: 90px;
}

.logo-link h1 {
  font-size: 50px;
}

.logo--of-d {
  color: var(--app-blue);
}

.db-logo {
  height: 50px;
  width: 50px;
}

.logo-link {
  text-decoration: none;
}

.logo-name {
  color: #292930;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
}

.link-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-container a {
  text-decoration: none;
  color: #8a90a2;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
}

.link-container li {
  padding: 20px 0;
  transition: #1d3557 0.3s ease-out 0s;
  margin-right: 30px;
}

.link-container a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1d3557;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-container a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hero-right-pic {
  height: 500px;
}

.header-menu {
  align-items: center;
  display: none;
}

.menu-container {
  display: none;
}

.menu-container.open {
  display: flex;
}

@keyframes slideInFromTopRight {
  from {
    transform: translate(100%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideOutToTopRight {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(100%, -100%);
    opacity: 0;
  }
}

.menu-container {
  display: none;
}

.menu-container.open {
  display: flex;
  animation: slideInFromTopRight 0.5s forwards;
}

.menu-container.closing {
  animation: slideOutToTopRight 0.5s forwards;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .navContainer {
    height: 70px;
  }
  .navContainer h1 {
    padding-top: 12px;
    font-size: 40px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    padding: 0;
    margin-top: 0;
    height: 57px;
    width: 57px;
    border-radius: 10px;
    z-index: 2;
  }

  .header-menu img {
    top: 0;
    height: 30px;
    width: 30px;
    z-index: 2;
  }

  .link-container {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .menu-container {
    top: 0;
    right: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: var(--app-beinj);
    position: fixed;
    z-index: 999;
    transition: all 0.45s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-container.open {
    display: flex;
  }

  .menu-close-button {
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
  }

  .menu-link-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .menu-link-container a {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: #292930;
  }

  .menu-link-container a:hover {
    color: #8a90a2;
  }

  .logo-name {
    align-items: center;
  }
}
