.resume-title {
  font-size: 22px;
  color: #292930;
  margin-bottom: 5px;
  max-width: 400px;
}

.resume-experince-education {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f7f8fd;
  border-radius: 25px;
  margin-bottom: 10px;
}

.resume-details-list {
  padding: 30px 100px;
  /* padding-left: 25px; */
  position: relative;
  text-align: left;
  text-align: justify;
}

.resume-circle {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #778da9;
  position: absolute;
  left: 0;
  top: 28px;
}

.resume-details-list h3 {
  font-size: 22px;
  color: #292930;
  margin-bottom: 5px;
  max-width: 400px;
}

.resume-details-list small {
  color: #8a90a2;
}

.resume-details-list p {
  margin-top: 15px;
  color: #292930;
  line-height: 26px;
  width: 100%;
  max-width: 100%;
  /* max-width: 400px; */
}

@media screen and (max-width: 992px) {
  .resume-details-list p {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .resume-details-list {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 400px) {
  .resume-details-list {
    padding: 10px 30px;
  }
}
